# Predicting Airline Delays
useful resources:
- kaggle dataset: https://www.kaggle.com/datasets/jimschacko/airlines-dataset-to-predict-a-delay/data
- jupyter notebook in vscode: https://code.visualstudio.com/docs/datascience/jupyter-notebooks 
- colorpaletts: https://r-graph-gallery.com/38-rcolorbrewers-palettes.html
- more colors: https://matplotlib.org/stable/gallery/color/named_colors.html
- Seaborn documentation: https://seaborn.pydata.org/tutorial.html

# Import Libraries and Data
Load nescessary libraries and data into the dataset ds

In [100]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pylab import randint
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, make_scorer, f1_score, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from imblearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB, CategoricalNB, MultinomialNB, BernoulliNB
from sklearn.linear_model import LogisticRegression

In [2]:
# Import Data into Dataframe
df = pd.read_csv('Airlines.csv')
df.head()

   id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0   1      CO     269         SFO       IAH          3    15     205      1
1   2      US    1558         PHX       CLT          3    15     222      1
2   3      AA    2400         LAX       DFW          3    20     165      1
3   4      AA    2466         SFO       DFW          3    20     195      1
4   5      AS     108         ANC       SEA          3    30     202      0

In [84]:
df.head(30)

    id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0    1      CO     269         SFO       IAH          3    15     205      1
1    2      US    1558         PHX       CLT          3    15     222      1
2    3      AA    2400         LAX       DFW          3    20     165      1
3    4      AA    2466         SFO       DFW          3    20     195      1
4    5      AS     108         ANC       SEA          3    30     202      0
5    6      CO    1094         LAX       IAH          3    30     181      1
6    7      DL    1768         LAX       MSP          3    30     220      0
7    8      DL    2722         PHX       DTW          3    30     228      0
8    9      DL    2606         SFO       MSP          3    35     216      1
9   10      AA    2538         LAS       ORD          3    40     200      1
10  11      CO     223         ANC       SEA          3    49     201      1
11  12      DL    1646         PHX       ATL          3    50     212      1
12  13      DL    2055         SLC       ATL          3    50     210      0
13  14      AA    2408         LAX       DFW          3    55     170      0
14  15      AS     132         ANC       PDX          3    55     215      0
15  16      US     498         DEN       CLT          3    55     179      0
16  17      B6      98         DEN       JFK          3    59     213      0
17  18      CO    1496         LAS       IAH          3    60     162      0
18  19      DL    1450         LAS       MSP          3    60     181      0
19  20      CO     507         ONT       IAH          3    75     167      0
20  21      AS     128         FAI       SEA          3    80     206      0
21  22      DL    2223         ANC       SLC          3    85     270      0
22  23      AS     112         ANC       SEA          3    90     200      0
23  24      HA      17         LAS       HNL          3   100     380      1
24  25      US     122         ANC       PHX          3   113     327      1
25  26      AS     114         ANC       SEA          3   150     200      0
26  27      B6     766         BQN       MCO          3   240     169      0
27  28      B6     768         PSE       MCO          3   262     180      0
28  29      HA     206         HNL       OGG          3   300      36      1
29  30      OO    4746         BIS       MSP          3   300      85      0